body{
    width: 100%;

    background-image: url(../img/logBg.png);
    background-attachment: fixed;
}

/* header begins */
.mainHeader{
    display: flex;
    justify-content: space-between;

    margin-top: 40px;

    color: var(--white);
    font-family: var(--text);
    font-size: 18px;
    font-weight: bold;
}

.mainHeader__nav--link{
    margin: 1rem;
}

.mainHeader__account--img{
    margin-right: 6px;
    position: relative;
    top: 6px;
}
/* header ends */

/* main begins */

main{
    width: 19%;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    border: 1px solid var(--white);
}

